.product-card {
  border-radius: 12px;
  transition: transform 0.3s ease;
   height: 420px;
}

.product-card:hover {
  transform: translateY(-4px);
}

.product-image {
  height: 200px; 
  width: 100%; 
  object-fit: cover; 
  object-position: center; 
  border-radius: 12px 12px 0 0;
}

.product-title {
  font-size: 1.25rem; 
}

.product-description {
  flex-grow: 1;
  color: #444; 
}
